html {
  background: #787878;
  background: radial-gradient(ellipse at center, #454545 0%, #787878 100%);
  background-size: cover;
  height: 100%;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 1vh auto;
  color: black;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

table {
  border-collapse: collapse;
  margin: 1vh auto;
  width: 100%;
}

th,
td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #787878;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #fffa8a;
}

.compound{
  text-align: start
}

.elements {
  font-size: 10px;
}

.type-1 {
  background: rgba(255, 199, 142, 0.8);
}
.type-1:hover {
  background: rgba(255, 199, 142, 1);
}

.type-2 {
  background: rgb(255, 224, 141, 0.8);
}
.type-2:hover {
  background: rgb(255, 224, 141, 1);
}

.type-3 {
  background: rgba(255, 250, 138, 0.8);
}
.type-3:hover {
  background: rgba(255, 250, 138, 1);
}

.type-4 {
  background: rgba(236, 255, 139, 0.8);
}
.type-4:hover {
  background: rgba(236, 255, 139, 1);
}

.type-5 {
  background: rgba(182, 255, 138, 0.8);
}
.type-5:hover {
  background: rgba(182, 255, 138, 1);
}

.type-6 {
  background: rgba(143, 255, 155, 0.8);
}
.type-6:hover {
  background: rgba(143, 255, 155, 1);
}

.type-7 {
  background: rgba(140, 255, 154, 0.8);
}
.type-7:hover {
  background: rgba(140, 255, 154, 1);
}

.type-8 {
  background: rgba(171, 143, 255, 0.8);
}
.type-8:hover {
  background: rgba(171, 143, 255, 1);
}

.type-9 {
  background: rgba(251, 141, 255, 0.8);
}
.type-9:hover {
  background: rgba(251, 141, 255, 1);
}

.type-10 {
  background: rgba(142, 222, 255, 0.8);
}
.type-10:hover {
  background: rgba(142, 222, 255, 1);
}

.sortable:hover {
  cursor: pointer;
}

.sortable.asc::after {
  content: '\25B2'; /* Unicode for upward triangle */
  margin-left: 5px;
  color: green;
}

.sortable.desc::after {
  content: '\25BC'; /* Unicode for downward triangle */
  margin-left: 5px;
  color: red;
}

select{
    background-color: #787878;
  color: #fff;
  padding: 2px;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .elements {
    font-size: calc(10px + 8 * ((100vw - 600px) / 1320));
  }
}

@media screen and (min-width: 1920px) {
  .elements {
    font-size: 18px;
  }
}

.element {
  display: none;
}

.key {
  display: none;
}

@media screen and (min-width: 600px) {
  .row {
    display: flex;
    text-align: center;
    height: 6vmin;
    justify-content: space-around;
  }

  .f-block .row {
    justify-content: flex-end;
  }

  .element {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex: 5.4vw 0 0;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1px;
    text-decoration: none;
  }

  .description {
    display: none;
  }

  .description:target {
    display: block;
  }

  .key {
    display: block;
    padding: 0;
    width: 60%;
    max-width: 650px;
    list-style-type: none;
    color: #fff;
    line-height: 1.8;
    font-weight: normal;
  }

  .key li {
    display: inline-block;
    margin: 0 0.2rem;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
  }

  .key li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
  }
}

.description {
  padding: 1em;
  margin: 2em 0;
  text-overflow: ellipsis;
}

.description h2 {
  margin: 0;
}

.description a {
  color: #1d2441;
  text-decoration: none;
}

.description a:visited {
  color: #3c4c88;
}

.description a:hover,
.description a:focus {
  color: #3c4c88;
  text-decoration: underline;
}

.description .moz-link {
  position: relative;
  padding-left: 24px;
}

.description .moz-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background: url("moz.png");
  transform: translate(0, -50%);
  width: 16px;
  height: 16px;
}

.element.group-web-components {
  background-color: #84d4cf;
}

.element.group-web-components:hover {
  background-color: #aae1de;
}

.description.group-web-components {
  background-color: rgba(170, 225, 222, 0.5);
}

.description.group-web-components:hover {
  background-color: rgba(132, 212, 207, 0.8);
}

.key li.group-web-components:before {
  background-color: #84d4cf;
}

.hover-group-web-components .element {
  opacity: 0.5;
}

.hover-group-web-components .element.group-web-components {
  opacity: 1;
}
